.header .button {
  font-size: 1rem;
  margin: 2rem 0;
  padding: 1rem;
  background-color: lightgreen;
  color: black;
  border-radius: 1rem;
  font-weight: bold;
}

.header .inputs {
  display: flex;
}

.header .label,
.header .input {
  cursor: pointer;
}
